*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}

.header{  /* CONTENEDOR */
	box-sizing: border-box;
	background-color: grey;
	color: white;
	padding-left:50px;
	font-size: 20px;
}


img{  /* FOTO DE LA PORTADA */

	width: 100%;
	height: 60%;	
    margin: 0px auto;

}

h2{   /* TITULOS DE LOS PARRAFOS */
	font-size: 50px;
	width: 70%;
	margin-left: 20%;
	margin-top: 100px;
	font-family: 'Quicksand', sans-serif;
	font-width: lighter;
	
}

p{    /* PARRAFOS JUNTO A LAS IMAGENES */
	font-size: 20px;
	padding-top: 30px;
	text-align: justify;
	width: 70%;
	margin-left: 20%;
	font-family: 'Quicksand', sans-serif;
}
 .col-6{   /* CLASE DE LOS PARRAFOS Y DE LAS IMAGENES QUE COMPARTEN EL "ROW" */

 	font-family: 'Quicksand', sans-serif;
 	
 }

.img{  /* IMAGENES JUNTO A LOS PARRAFOS */
	width: 450px;
	height: 450px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 20%;
	margin-right: 20%;
}

.footer{  /* PIE DE PÁGINA */
	background-color: dimgrey;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color: white;
	margin-top: 30px;
	padding-bottom:30px;
	padding-top:30px;
	font-size: 20px;
}


/* esto es lo que debe llevar el texto sobre la imagen de la portada */

#texto{
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    margin-top: -500px;
    margin-bottom: 300px;
    text-align: center;
}